
@model Application.Models.SendForgotPasswordEmailModel

@{
    Layout = "BaseEmailLayout.cshtml";
    ViewBag.Title = "Reset Your Password";
}
<html>
<h1>Hello @Model.UserName,</h1>
<p>
    A request has been made for reset your password! Please click button
    below to change your password.
    <a href="@Model.ResetPasswordLink">Reset password</a>
    If you didn't make this request, please ignore this email.
</p>
</html>